log.txt
__pycache__/database.cpython-38.pyc
__pycache__/update_data.cpython-38.pyc
__pycache__/visualize.cpython-38.pyc
__pycache__/database.cpython-38.pyc
__pycache__/database.cpython-38.pyc
__pycache__/queryforchart.cpython-38.pyc
__pycache__/update_data.cpython-38.pyc
__pycache__/visualize.cpython-38.pyc
